@using WebApplication.Models
@model ScheduleViewModel
@{
    ViewBag.Title = "Schedule";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@functions{
    public string GetDateString(DateTime date)
    {
        return string.Format("{0}.{1}.{2} {3:D2}:{4:D2}", date.Day, date.Month, date.Year, date.Hour, date.Minute);
    }
}

<div>
    <h2>@ViewBag.Title</h2>

    <h4>Main algorithm:</h4>
    <h5>@string.Format("Execution time: {0} ms", Model.FastAlgorithmTime)</h5>
    @if (Model.AccurateAlgorithm || Model.FastAlgorithmSchedule.OptimalityCriterion)
    {
        <h5>@string.Format("The criterion of optimality holds: {0}", Model.FastAlgorithmSchedule.OptimalityCriterion)</h5>
        <h5>@string.Format("Is optimal: {0}", Model.IsOptimal)</h5>
    }

    @if (Model.AccurateAlgorithm)
    {
        <h4>Branch and bounds method:</h4>
        <h5>@string.Format("Execution time: {0} ms", Model.AccurateAlgorithmTime)</h5>
    }

	@if (!string.IsNullOrEmpty(Model.FileId))
	{
		@Html.ActionLink("The file with results", "ResultFile", new { id = Model.FileId })
	}

	@if (Model.Visualization)
    {
        <div id="gantt-chart" style='width: 100%;'></div>
        <input id="gantt-chart-data" type="hidden" value="@Model.GetJson()" />
    }
</div>