@using OptimalScheduling.Models
@model InputViewModel
@{
    ViewBag.Title = "Input data";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

@if (!string.IsNullOrEmpty(ViewBag.StatusMessage))
{
    <p class="text-success">@ViewBag.StatusMessage</p>
}

<div class="panel">
    <div class="panel-body">
        <div class="panel-heading text-center">
            <h4>Choose input files</h4>
        </div>
        @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.ValidationSummary()
            <div class="form-group">
                <label>Tasks input file</label>
                @Html.TextBoxFor(x => x.TasksFile, new { type = "file", @name = "Tasks" })
            </div>
            <div class="form-group">
                <label>Machines input file</label>
                @Html.TextBoxFor(x => x.MachinesFile, new { type = "file", @name = "Machines" })
            </div>
            <div class="form-group">
                @Html.CheckBoxFor(x => x.BBMethod, new { @checked = bool.TrueString })
                <label>Find optimal solution</label>
            </div>
            <div class="form-group">
                @Html.CheckBoxFor(x => x.Visualization, new { @checked = bool.TrueString })
                <label>Show Gantt diagram</label>
            </div>
            <div class="form-group text-center">
                <input class="btn btn-primary" type="submit" value="Submit" />
            </div>}
    </div>
</div>